/* Global */
html, body {
  height:100%;
  scrollbar-width: 0px;
  overflow: hidden;
}

/* html {
  overflow-y: hidden;
  overflow-x: hidden;
} */

body {

}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}



#root {
  overflow: hidden;
  height: 100%;
}

.App {
  height: 100%;
  /* width:100%;
  overflow-y: auto;
  padding-right: 15px; */
  min-height: 100%;
}

/* Global End */

/* Layout Main */
.layout {
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto;
}

.full-cont {
  display: grid;
  grid-template-rows: auto 110px;
  width:100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 20px;
}

.ant-layout-content {
  padding: 0;
}
/* Layout Main */

/* Layout Header */
.ant-layout-header {
  display: grid;
  background-color: #000;
  grid-template-columns: .20fr 1fr 3.25fr 3fr .2fr;
}

.ant-layout-header .logo {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.ant-layout-header .logo a {
  display: flex;
  align-items: center;
}

.ant-layout-header .logo img {
  height: auto;
  width: 190px;
}

.ant-layout-header span {
  content: '';
  display: none;
  position: absolute;
  /* bottom: 0; */
  top: 67px;
  /* left: 0; */
  height: 5px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  transition: .3s ease;
}

.ant-layout-header ul {
  grid-column-start: 4;
  grid-column-end: 5;
  position: relative;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: fit-content(8rem) fit-content(8rem) fit-content(8rem) fit-content(8rem);
  align-items: center;
  color: #fff;
  list-style: none;
  justify-content: space-evenly;
  font-size: 1.7rem;
  line-height: unset !important;
}

.ant-layout-header ul a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
}



/* Layout Header */

/* Layout Content Area */
.full-cont {
  background: linear-gradient(
              rgba(0,0,0,.25),
              rgba(0,0,0,.25)),
              url('./assets/canvas.png');
  background-size: cover;
}



/* Layout Content Area End */

/* Footer */
.ant-layout-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
              rgba(87,87,87,.35),
              rgba(87,87,87,.35)),
              url('./assets/canvas.png');
  background-size: cover;
  width: 100vw;
}

.ant-layout-footer h4, .ant-layout-footer h5 {
  opacity: .55;
}

.ant-layout-footer h5 {
  padding-top: 20px;
}


/* Footer End */

